<!DOCTYPE html>
<html>
	<head>
		<title>
			détails livre
		</title>

		<link rel="stylesheet" type="text/css" href="{{ asset ('css/test.css') }}">

		<link rel="icon" type="image/x-icon" href="{{ asset ('favicon.ico') }}">

		<script type="text/javascript" src="{{ asset ('JS/jquery-3.3.1.min.js') }}"></script>

		<script type="text/javascript">
			$ (document).ready (function ()
			{
				$ ("#commander").click (function ()
				{
					var livre=parseInt ({{ livre.id }});

					var quantite=parseInt ($ ("#quantite").val ());

					var url="{{ path ('panier_ajout') }}";

					$.ajax (
					{
						type: "POST",
						url: url,
						dataType: null,
						async: true,
						data:
						{
							livre: livre,
							quantite: quantite
						},
						success: function (resultat)
						{
							alert ("livre ajouté au panier");
						},
						error: function (erreur)
						{
							alert ("erreur lors de l'ajout au panier");
						}
					});
				})
			});
		</script>

		<meta charset="utf-8">
	</head>

	<body>
		{% if app.user %}
			<div class="image">
				<div class="test">
					<form class="bouton" action="http://localhost/ebook/web/app_dev.php/accueil" method="POST">
						<input type="submit" name="connexion" value="Déconnexion" />
					</form>
				</div>
				<br>
				<br>

				Bienvenue, {{ app.user.username }}
			</div>
		{% endif %}

		<div>
			<a href="{{ path ('accueil_details') }}">
				retour
			</a>
		</div>
		<br>
		<div class="details_infos">
			<table>
				<tr class="bordure">
					<th>
						Titre
					</th>
					<td>
						{{ livre.titre }}
					</td>
				</tr>
				<tr class="bordure">
					<th>
						Auteur
					</th>
					<td>
						{{ livre.auteur }}
					</td>
				</tr>
				<tr class="bordure">
					<th>
						ISBN
					</th>
					<td>
						{{ livre.ISBN }}
					</td>
				</tr>
				<tr class="bordure">
					<th>
						Éditeur
					</th>
					<td >
						{{ livre.editeur.nomediteur }}
					</td>
				</tr>
				<tr class="bordure">
					<th>
						Prix unitaire
					</th>
					<td>
						{{ livre.prixUnitaire }} €
					</td>
				</tr>
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				<tr>
					<th>
						<input type="button" value="Ajouter au panier" id="commander">
					</th>
					<td>
						<select name="quantite" id="quantite">
							{% for i in 1..10 %}
								<option value="{{ i }}">
									{{ i }}
								</option>
							{% endfor %}
						</select>
						Examplaire(s)
					</td>
				</tr>
				<tr>
					<th colspan="2">
						<a href="{{ path ('panier') }}">
							Accéder au panier
						</a>
					</th>
				</tr>
			</table>
		</div>
		<div class="details_couverture">
			<div class="details_couverture_image">
				<img src="{{ asset('img/'~ livre.couverture)}}" width="" height="400px">
			</div>
			<div class="details_couverture_pdf">
				<center><h2>Pdf à télécharger </h2></center>
				<ul>
					{% for fichier in dir %}
						<li><a href="{{ asset('img/pdf/' ~ livre.dossier ~ '/' ~ fichier)}}" target="blank_"> {{ fichier }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>