<!DOCTYPE html>
<html>
	<head>
		<title>
			détails livre
		</title>

		<link rel="stylesheet" type="text/css" href="{{ asset ('css/test.css') }}">

		<link rel="icon" type="image/x-icon" href="{{ asset ('favicon.ico') }}">

		<script type="text/javascript" src="{{ asset ('JS/jquery-3.3.1.min.js') }}">
		</script>

		<script type="text/javascript">
			$ (document).ready (function ()
			{
				$ ("#commander").click (function ()
				{
					var livre={{ livre.id }};
					var utilisateur={{ app.user.id }}
					var quantite=$ ("#quantite").val ();

					var url="{{ path ('commande', { 'id': 0 }) }}";
					url=url.replace ("0", livre);

					$.ajax (
					{
						type: "POST",
						url: url,
						dataType: null,
						async: true,
						data:
						{
							livre: livre,
							utilisateur: utilisateur,
							quantite: quantite
						},
						success: function (resultat)
						{
							alert ("commande effectuée");
						},
						error: function (erreur)
						{
							alert ("erreur lors de la commande");
						}
					});
				})
			});
		</script>

		<meta charset="utf-8">
	</head>

	<body>
		{% if app.user %}
			<div class="image">
				<div class="test">
					<form class="bouton" action="http://localhost/ebook/web/app_dev.php/accueil" method="POST">
						<input type="submit" name="connexion" value="Déconnexion" />
					</form>
				</div>

				<br>
				<br>

				Bienvenue, {{ app.user.username }}
			</div>
		{% endif %}

		<div>
			<a href="{{ path ('accueil_details') }}">
				retour
			</a>
		</div>

		<br>

		<div class="details_infos">
			<table>
				<tr>
					<th>
						titre
					</th>
					<td>
						{{ livre.titre }}
					</td>
				</tr>
				<tr>
					<th>
						auteur
					</th>
					<td>
						{{ livre.auteur }}
					</td>
				</tr>
				<tr>
					<th>
						ISBN
					</th>
					<td>
						{{ livre.ISBN }}
					</td>
				</tr>
				<tr>
					<th>
						éditeur
					</th>
					<td>
						{{ livre.editeur.nomediteur }}
					</td>
				</tr>
				<tr>
					<th>
						prix unitaire
					</th>
					<td>
						{{ livre.prixUnitaire }} €
					</td>
				</tr>
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				<tr>
					<th>
						<input type="button" value="ajouter au panier" id="commander">
					</th>
					<td>
						<select name="quantite" id="quantite">
							{% for i in 1..10 %}
								<option value="{{ i }}">
									{{ i }}
								</option>
							{% endfor %}
						</select>

						examplaire(s)
					</td>
				</tr>
				<tr>
					<th colspan="2">
						&nbsp;
					</th>
				</tr>
				<tr>
					<th colspan="2">
						<a href="{{ path ('panier') }}">
							accéder au panier
						</a>
					</th>
				</tr>
			</table>
		</div>

		<div class="details_couverture">
		</div>
	</body>
</html>